# Ignore node modules and dependencies
node_modules
npm-debug.log
package-lock.json

# Ignore Next build files
.next

# Ignore environment variables
.env
.env.local
.env.development
.env.production
.env.docker

# Ignore Git and editor files
.git
.gitignore
.DS_Store
.vscode
.idea
